@import url('https://fonts.googleapis.com/css?family=Poppins:200,300');

body { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

section {
    position: relative;
    height: 100vh;
    display: flex;
}

section .screen {
    position: relative;
    flex-grow: 1;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section .screen:hover {
    flex-grow: 5;
}

section .screen:nth-child(1) {
    background: #fff;
}

section .screen:nth-child(2) {
    background: #ff0;
}

section .screen .card {
    max-width: 300px;
    text-align: center;
    transition: 0.5s;
}

section .screen .card .imgBx {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

section .screen .card .imgBx img {
    max-width: 100%;
}

section .screen .card a {
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    text-decoration: none;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 100px;
    background: #fff;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

section .screen .card a:hover ~ .content, .content:hover {
    opacity: 1;
    visibility: visible;
}

section .screen:nth-child(2) .content {
    background: #ff0;
}